

<ion-header-bar align-title="center" class="bar-positive">
    <!--<div class="buttons">-->
        <!--<button class="button">删除</button>-->
    <!--</div>-->
    <h1 class="title">热门列表</h1>
        <div class="buttons">
    <button class="button">只看我的</button>
    </div>
</ion-header-bar>


<ion-content>
    <ion-list>
        <ion-item ng-repeat="item in hotItems" class="item-remove-animate">
            {{item.name}}  &&  {{item._id}}
            <ion-option-button class="button-assertive" ng-click="delItem(item);">
                Delete
            </ion-option-button>
        </ion-item>
    </ion-list>
</ion-content>
