

<ion-header-bar align-title="center" class="bar-positive">
    <!--<div class="buttons">-->
        <!--<button class="button">删除</button>-->
    <!--</div>-->
    <h1 class="title">热门Article</h1>
    <div class="buttons">
        <button class="button" ng-show="showMeTag" ng-click="showMe();">只看我的</button>
        <button class="button" ng-show="showAllTag" ng-click="showAll();">取消只看我的</button>
    </div>

    <!--<label class="item item-input item-select">-->
        <!--<div class="input-label">abcaaasssssss</div>-->
        <!--<select>-->
            <!--<option>Blue</option>-->
            <!--<option selected>Green</option>-->
            <!--<option>Red</option>-->
        <!--</select>-->
    <!--</label>-->
</ion-header-bar>

<ion-content>
    <blog-list blog-data="hotItems" show-un-focus="showUnFocus" show-focus="showFocus"></blog-list>
</ion-content>
