<ion-list>
    <ion-item ng-repeat="item in blogData" class="item-remove-animate">
        <div ng-click="goDetail(item);">
            <div>
                <span style="float: left;font-weight: bold">{{item.title}}</span>
                <span style="float: right">{{item.category}}</span>
                <div style="clear: both"></div>
            </div>

            <div style="font-size: 80%">
                <span style="float: left">{{item.creater}}</span>
                <span style="float: right">{{item.createTime}}</span>
                <div style="clear: both"></div>
            </div>
        </div>

        <ion-option-button class="button-positive" ng-click="ignoreItem(item);" ng-show="showIgnore">
            忽略
        </ion-option-button>

        <ion-option-button class="button-assertive" ng-click="focusItem(item);" ng-show="showFocus">
            关注
        </ion-option-button>

        <ion-option-button class="button-assertive" ng-click="unFocusItem(item);" ng-show="showFocus">
            取消关注
        </ion-option-button>
    </ion-item>
</ion-list>