


    <!--<div class="list">-->
        <!--<label class="item item-input">-->
            <!--<input type="text" placeholder="Login Name" />-->
        <!--</label>-->

        <!--<label class="item item-input" style="border-bottom:1px solid #ddd">-->
            <!--<input type="text" placeholder="Login Password" />-->
        <!--</label>-->

        <!--<div style="text-align:center;">-->
            <!--<button class="button button-outline button-positive">登录</button>-->
            <!--<button class="button button-outline button-positive">注册</button>-->
        <!--</div>-->
    <!--</div>-->

    <div class="list">
        <div ng-show="showLogin">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Login Name</span>
                <input type="text" placeholder="Login Name" ng-model="loginName" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Login Password</span>
                <input type="password" placeholder="Login Password" ng-model="loginPwd" />
            </label>
            <div style="text-align:center;margin-top:10px;">
                <button class="button button-positive button-full" ng-click="doLogin()">登录</button>
                <button class="button button-clear button-outline button-full" ng-click="goRegister()">去注册</button>
            </div>

    </div>

        <div ng-show="showRegister">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Login Name</span>
                <input type="text" placeholder="Login Name" ng-model="regName" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Login Password</span>
                <input type="password" placeholder="Login Password" ng-model="regPwd" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Login NickName</span>
                <input type="text" placeholder="Login Password" ng-model="regNiceName" />
            </label>

            <div style="text-align:center;margin-top:10px;">
                <button class="button button-positive button-full" ng-click="doRegister()">注册</button>
                <a class="button button-clear button-outline button-full" ng-click="goLogin()">去登录</a>
            </div>
        </div>
    </div>