

    <div class="list">
        <div ng-show="showLogin">
            <div>
                <ion-header-bar align-title="center" class="bar-positive">
                    <div class="buttons">
                        <button class="button" ng-click="goHot();">继续逛逛</button>
                    </div>
                </ion-header-bar>
            </div>

            <div style="margin-top: 43px;">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Login Name</span>
                    <input type="text" placeholder="Login Name" ng-model="loginName" />
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label">Login Password</span>
                    <input type="password" placeholder="Login Password" ng-model="loginPwd" />
                </label>
                <div style="text-align:center;margin-top:10px;">
                    <button class="button button-positive button-full" ng-click="doLogin()">登录</button>
                    <button class="button button-clear button-outline button-full" ng-click="goRegister()">去注册</button>
                </div>
            </div>
    </div>

        <div ng-show="showRegister">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Login Name</span>
                <input type="text" placeholder="Login Name" ng-model="regName" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Login Password</span>
                <input type="password" placeholder="Login Password" ng-model="regPwd" />
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label">NickName</span>
                <input type="text" placeholder="NickName" ng-model="regNiceName" />
            </label>

            <div style="text-align:center;margin-top:10px;">
                <button class="button button-positive button-full" ng-click="doRegister()">注册</button>
                <a class="button button-clear button-outline button-full" ng-click="goLogin()">去登录</a>
            </div>
        </div>
    </div>